<!DOCTYPE html>
<html> 
<head>
    <body>
        <h1>Submit Dispute</h1>
        <form method = "POST">
            <label for="customer_id"> CUSTOMER ID:</label><BR>
            <input type="text" id = "customer_id" name="customer_id" required><br><br>

            <label for="pin">SET PIN:</label><br>
            <input type="integer" id="pin" name="pin" required><br><br>

            <label for="amount">Amount:</label><br>
            <input type="number" step="0.01" id="amount" name="amount" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</head>
</html>